.named-div_renderRedBox { 
        background-color: red;
        width: 100px;
        height: 100px;
     }
.named-div_renderBlueBox { 
        background-color: blue;
        width: 100px;
        height: 100px;
     }
