<d-template *="red_box" d-namespace="named-div">
    <div style="background-color: red; width: 100px; height: 100px">
        X
    </div>
<d-template-var name="$dSlots" type="Map<String, void Function(_i0.DomContext)>" default="{}"></d-template-var></d-template>

<d-template *="blue_box" d-namespace="named-div">
    <div style="background-color: blue; width: 100px; height: 100px">
        BB
        <d-slot d-method=""></d-slot>
        LO
    </div>
<d-template-var name="$dSlots" type="Map<String, void Function(_i0.DomContext)>" default="{}"></d-template-var></d-template>