.ds_named-div_1b0a43d1a5df11d59cc6 { 
        background-color: red;
        width: 100px;
        height: 100px;
     }
.ds_named-div_fea58795f3a2aa58e9a7 { 
        background-color: blue;
        width: 100px;
        height: 100px;
     }
