<d:template d:name="main" xmlns:bb="button.html" d:method-name="renderMain">
  <div>
    <button id="clickButton" d:event-onclick="clickFun">{{clickName}}</button>
    <input width="{{human.age}}" type="{{human.name}}"/>
    <input d:bind-input-value="human.name"/>
    <input d:bind-input-value="human.location"/>
    <d:call d:library="button.g.dart" d:method="renderBestButton">
      <d:call-slot d:name="slot">
        <b>Slot text</b>
      </d:call-slot>
      <d:call-var d:name="boldText" d:value="'Boldy texty'"/>
      <d:call-var d:name="events" d:value="{'click': clickFun}"/>
    </d:call>
  </div>
  <d:template-var d:name="clickName" d:library="dart:core" d:type="String"/>
  <d:template-var d:name="clickFun" d:library="dart:core" d:type="Function"/>
  <d:template-var d:name="human" d:library="human.dart" d:type="Human"/>
</d:template>
