<main click-name="String"
      click-fun="Function"
      human="human.dart # Human"
      xmlns:bb="button.html">
    <div>
        <button id="clickButton" d:event-onclick="clickFun">
            {{clickName}}
        </button>
        <input width="{{human.age}}" type="{{human.name}}" />
        <input d:bind-input-value="human.name" />
        <input d:bind-input-value="human.location" />
        <bb:best-button bold-text="'Boldy texty'" d:event-onclick="clickFun">
            <b>Slot text</b>
        </bb:best-button>
    </div>
</main>
