<d-template *="renderMain" d-namespace="templates"><d-template-var name="human" library="human.dart" type="Human"></d-template-var><d-template-var name="clickFun" library="dart:core" type=""></d-template-var><d-template-var name="clickName" library="dart:core" type="String"></d-template-var>
    <div>
        <button id="clickButton" d-event:click="clickFun">
            {{clickName}}
        </button>
        <input width="{{human.age}}" type="{{human.name}}">
        <input d-bind-input:value="human.name">
        <input d-bind-input:value="human.location">
        <d-call d-method="renderBestButton" d-namespace="d">
            
        <d-call-slot *="slot"><b>Slot text</b></d-call-slot><d-call-var *="boldText" d-value="'Boldy texty'"></d-call-var><d-call-var *="events" d-value="{'click': clickFun}"></d-call-var></d-call>
    </div>
</d-template>